language: java
jdk:
  - oraclejdk8
sudo: required
services:
  - docker
  - mongodb
cache:
  directories:
    - $HOME/.m2
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
before_install:
  - chmod +x gradlew
before_script:
  - sleep 15
  - mongo teams --eval 'db.createUser({user:"root", pwd:"root", roles:[{role:"dbAdmin", db:"teams"}]});'
script:
  - ./gradlew test
  - ./gradlew test --tests "ua.com.juja.microservices.integration.*"
  - ./gradlew test --tests "ua.com.juja.microservices.acceptance.*"
  